<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>ChooserOnly</key>
	<true/>
	<key>DefaultCompletionName</key>
	<string>___FILEBASENAME___</string>
	<key>Description</key>
	<string>An .xm file</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.xm</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The class to hook</string>
			<key>Identifier</key>
			<string>xmclass</string>
			<key>Name</key>
			<string>Class to hook</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_xmclass:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>An xm file for theos</string>
</dict>
</plist>
